#logo{
    width: 100px;
}
#banner-top{
    background-image: url('../img/background/top.jpeg');
}
#speakers{
    background-image: url('../img/background/speaker.png');
}
.btn-ticket-aws{
    background-color: #27364e;
    border: 1px solid white;
}
.exp-img{
    background-image:url('../img/background/experience.jpg');
}
#sponsors{
    background-image: url('../img/background/sponsor_img.jpg');
}
.company-logo{
    width: 100px;
}
.company-logos{
    width: 70px;
}
.ts-speaker-popup-content .description{
    text-align: justify;
}
#boletin{
    background-image: url('../img/shap/subscribe_pattern.png');
}
#contact{
    background-image: url('../img/book_seat_img.jpg');
}
#page-banner-area{
    background-image:url('../img/banner_bg.jpg');
}
